.lx-layout-matrix {
  // 変数
  --lx-layout-gapX: 0px;
  --lx-layout-gapY: 0px;
  --lx-layout-itemSizeX: auto;
  --lx-layout-itemSizeY: auto;
  --lx-layout-itemRatio: auto;
  --lx-layout-itemCountX: auto-fit;
  --lx-layout-itemCountY: auto-fit;
  --lx-layout-templateX: none;
  --lx-layout-templateY: none;

  // matrix用のスタイル
  display: grid;

  &.lx-layout-direction-x {
    // 子要素を並べる向き・横並び
    grid-auto-flow: row;
  }

  &.lx-layout-direction-y {
    // 子要素を並べる向き・縦並び
    grid-auto-flow: column;
  }

  &.lx-layout-alignX-left {
    // 横位置: 左
    justify-content: flex-start;
  }
  &.lx-layout-alignX-center {
    // 横位置: 中央
    justify-content: center;
  }
  &.lx-layout-alignX-right {
    // 横位置: 右
    justify-content: flex-end;
  }
  &.lx-layout-alignX-spaceBetween {
    // 横位置: 両端揃え
    justify-content: space-between;
  }
  &.lx-layout-alignX-spaceAround {
    // 横位置: 両端余白あり均等
    justify-content: space-around;
  }
  &.lx-layout-alignX-spaceEvenly {
    // 横位置: 完全均等
    justify-content: space-evenly;
  }

  &.lx-layout-alignY-top {
    // 縦位置: 上
    align-content: flex-start;
  }
  &.lx-layout-alignY-middle {
    // 縦位置: 中央
    align-content: center;
  }
  &.lx-layout-alignY-bottom {
    // 縦位置: 下
    align-content: flex-end;
  }
  &.lx-layout-alignY-spaceBetween {
    // 縦位置: 両端揃え
    align-content: space-between;
  }
  &.lx-layout-alignY-spaceAround {
    // 縦位置: 両端余白あり均等
    align-content: space-around;
  }
  &.lx-layout-alignY-spaceEvenly {
    // 縦位置: 完全均等
    align-content: space-evenly;
  }

  // 子要素の幅調整
  // 列の指定なし(itemSizeX,itemCountX,tracksXなし)の場合、
  // auto-repeatに固定サイズ以外は指定できないためスタイルなし
  &.lx-layout-itemSizeX {
    grid-template-columns: repeat(auto-fit, var(--lx-layout-itemSizeX));
    &.lx-layout-itemCountX {
      grid-template-columns: repeat(
        var(--lx-layout-itemCountX),
        var(--lx-layout-itemSizeX)
      );
    }
  }
  &.lx-layout-itemCountX {
    grid-template-columns: repeat(var(--lx-layout-itemCountX), auto);
  }
  &.lx-layout-templateX {
    grid-template-columns: var(--lx-layout-templateX);
  }
  &.lx-layout-adjustX-fit {
    // 子要素の幅調整: 伸ばす & 縮める
    // 列の指定なしの場合はauto-repeatで表現できないためスタイルなし
    &.lx-layout-itemSizeX {
      grid-template-columns: repeat(
        auto-fit,
        minmax(clamp(0px, 100%, var(--lx-layout-itemSizeX)), 1fr)
      );
      &.lx-layout-itemCountX {
        grid-template-columns: repeat(
          var(--lx-layout-itemCountX),
          minmax(
            clamp(
              0px,
              calc(
                (
                    100% - var(--lx-layout-gapX) *
                      (var(--lx-layout-itemCountX) - 1)
                  ) /
                  var(--lx-layout-itemCountX)
              ),
              var(--lx-layout-itemSizeX)
            ),
            1fr
          )
        );
      }
    }
    &.lx-layout-itemCountX {
      grid-template-columns: repeat(var(--lx-layout-itemCountX), 1fr);
    }
  }
  &.lx-layout-adjustX-grow {
    // 子要素の幅調整: 伸ばす
    // 列の指定なしの場合はauto-repeatで表現できないためスタイルなし
    &.lx-layout-itemSizeX {
      grid-template-columns: repeat(
        auto-fit,
        minmax(var(--lx-layout-itemSizeX), 1fr)
      );
      &.lx-layout-itemCountX {
        grid-template-columns: repeat(
          var(--lx-layout-itemCountX),
          minmax(var(--lx-layout-itemSizeX), 1fr)
        );
      }
    }
    &.lx-layout-itemCountX {
      grid-template-columns: repeat(var(--lx-layout-itemCountX), 1fr);
    }
  }
  &.lx-layout-adjustX-shrink {
    // 子要素の幅調整: 縮める
    &.lx-layout-itemSizeX {
      grid-template-columns: repeat(
        auto-fit,
        minmax(0, var(--lx-layout-itemSizeX))
      );
      &.lx-layout-itemCountX {
        grid-template-columns: repeat(
          var(--lx-layout-itemCountX),
          minmax(0, var(--lx-layout-itemSizeX))
        );
      }
    }
    &.lx-layout-itemCountX {
      grid-template-columns: repeat(var(--lx-layout-itemCountX), auto);
    }
  }

  // 子要素の高さ調整
  // 行の指定なし(itemSizeY,itemCountY,tracksYなし)の場合、
  // auto-repeatに固定サイズ以外は指定できないためスタイルなし
  &.lx-layout-itemSizeY {
    grid-template-rows: repeat(auto-fit, var(--lx-layout-itemSizeY));
    &.lx-layout-itemCountY {
      grid-template-rows: repeat(
        var(--lx-layout-itemCountY),
        var(--lx-layout-itemSizeY)
      );
    }
  }
  &.lx-layout-itemCountY {
    grid-template-rows: repeat(var(--lx-layout-itemCountY), auto);
  }
  &.lx-layout-templateY {
    grid-template-rows: var(--lx-layout-templateY);
  }
  &.lx-layout-adjustY-fit {
    // 子要素の高さ調整: 伸ばす & 縮める
    // 行の指定なしの場合はauto-repeatで表現できないためスタイルなし
    &.lx-layout-itemSizeY {
      grid-template-rows: repeat(
        auto-fit,
        minmax(clamp(0px, 100%, var(--lx-layout-itemSizeY)), 1fr)
      );
      &.lx-layout-itemCountY {
        grid-template-rows: repeat(
          var(--lx-layout-itemCountY),
          minmax(
            clamp(
              0px,
              calc(
                (
                    100% - var(--lx-layout-gapY) *
                      (var(--lx-layout-itemCountY) - 1)
                  ) /
                  var(--lx-layout-itemCountY)
              ),
              var(--lx-layout-itemSizeY)
            ),
            1fr
          )
        );
      }
    }
    &.lx-layout-itemCountY {
      grid-template-rows: repeat(var(--lx-layout-itemCountY), 1fr);
    }
  }
  &.lx-layout-adjustY-grow {
    // 子要素の高さ調整: 伸ばす
    // 行の指定なしの場合はauto-repeatで表現できないためスタイルなし
    &.lx-layout-itemSizeY {
      grid-template-rows: repeat(
        auto-fit,
        minmax(var(--lx-layout-itemSizeY), 1fr)
      );
      &.lx-layout-itemCountY {
        grid-template-rows: repeat(
          var(--lx-layout-itemCountY),
          minmax(var(--lx-layout-itemSizeY), 1fr)
        );
      }
    }
    &.lx-layout-itemCountY {
      grid-template-rows: repeat(var(--lx-layout-itemCountY), 1fr);
    }
  }
  &.lx-layout-adjustY-shrink {
    // 子要素の高さ調整: 縮める
    &.lx-layout-itemSizeY {
      grid-template-rows: repeat(
        auto-fit,
        minmax(0, var(--lx-layout-itemSizeY))
      );
      &.lx-layout-itemCountY {
        grid-template-rows: repeat(
          var(--lx-layout-itemCountY),
          minmax(0, var(--lx-layout-itemSizeY))
        );
      }
    }
    &.lx-layout-itemCountY {
      grid-template-rows: repeat(var(--lx-layout-itemCountY), auto);
    }
  }

  &.lx-layout-itemRatio > * {
    // 縦横比
    aspect-ratio: var(--lx-layout-itemRatio);
  }

  &.lx-layout-gapX {
    // 横方向の間隔
    column-gap: var(--lx-layout-gapX);
  }

  &.lx-layout-gapY {
    // 縦方向の間隔
    row-gap: var(--lx-layout-gapY);
  }
}
