.lx-layout-stack {
  // 変数
  --lx-layout-gapX: 0px;
  --lx-layout-gapY: 0px;
  --lx-layout-itemSizeX: auto;
  --lx-layout-itemSizeY: auto;
  --lx-layout-itemRatio: auto;

  // stack用のスタイル
  display: flex;

  &.lx-layout-direction-x {
    // 子要素を並べる向き・横並び
    flex-direction: row;

    // 横位置(主軸)
    &.lx-layout-alignX-left {
      // 横位置: 左
      justify-content: flex-start;
    }
    &.lx-layout-alignX-center {
      // 横位置: 中央
      justify-content: center;
    }
    &.lx-layout-alignX-right {
      // 横位置: 右
      justify-content: flex-end;
    }
    &.lx-layout-alignX-spaceBetween {
      // 横位置: 両端揃え
      justify-content: space-between;
    }
    &.lx-layout-alignX-spaceAround {
      // 横位置: 両端余白あり均等
      justify-content: space-around;
    }
    &.lx-layout-alignX-spaceEvenly {
      // 横位置: 完全均等
      justify-content: space-evenly;
    }

    // 縦位置(交差軸)
    &.lx-layout-alignY-top {
      // 縦位置: 上
      align-items: flex-start;
    }
    &.lx-layout-alignY-middle {
      // 縦位置: 中央
      align-items: center;
    }
    &.lx-layout-alignY-bottom {
      // 縦位置: 下
      align-items: flex-end;
    }
    // 交差軸は1行のため下記はスタイルなし
    // 縦位置: 両端揃え (.lx-layout-alignY-spaceBetween)
    // 縦位置: 両端余白あり均等 (.lx-layout-alignY-spaceAround)
    // 縦位置: 完全均等 (.lx-layout-alignY-spaceEvenly)

    // 子要素のデフォルト調整
    & > * {
      flex-grow: 0;
      flex-shrink: 0;
      min-width: 0;
      min-height: 0;
    }

    &.lx-layout-itemSizeX > * {
      // 子要素の幅
      flex-basis: var(--lx-layout-itemSizeX);
    }
    &.lx-layout-adjustX-fit {
      // 子要素の幅調整: 伸ばす & 縮める
      justify-content: flex-start;
      // 子要素
      & > * {
        // 主軸
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
      }
      &.lx-layout-itemSizeX > * {
        flex-basis: var(--lx-layout-itemSizeX);
      }
    }
    &.lx-layout-adjustX-grow > * {
      // 子要素の幅調整: 伸ばす
      flex-grow: 1;
    }
    &.lx-layout-adjustX-shrink > * {
      // 子要素の幅調整: 縮める
      flex-shrink: 1;
    }

    &.lx-layout-itemSizeY > * {
      // 子要素の高さ
      height: var(--lx-layout-itemSizeY);
    }
    &.lx-layout-adjustY-fit {
      // 子要素の高さ調整: 伸ばす & 縮める
      align-items: stretch;
      & > * {
        min-height: 100%;
        max-height: 100%;
      }
      &.lx-layout-itemSizeY > * {
        height: auto;
      }
    }
    &.lx-layout-adjustY-grow > * {
      // 子要素の高さ調整: 伸ばす
      min-height: 100%;
    }
    &.lx-layout-adjustY-shrink > * {
      // 子要素の高さ調整: 縮める
      max-height: 100%;
    }
  }

  &.lx-layout-direction-y {
    // 子要素を並べる向き・縦並び
    flex-direction: column;

    // 横位置(交差軸)
    &.lx-layout-alignX-left {
      // 横位置: 左
      align-items: flex-start;
    }
    &.lx-layout-alignX-center {
      // 横位置: 中央
      align-items: center;
    }
    &.lx-layout-alignX-right {
      // 横位置: 右
      align-items: flex-end;
    }
    // 交差軸は1行のため下記はスタイルなし
    // 横位置: 両端揃え (.lx-layout-alignX-spaceBetween)
    // 横位置: 両端余白あり均等 (.lx-layout-alignX-spaceAround)
    // 横位置: 完全均等 (.lx-layout-alignX-spaceEvenly)

    // 縦位置(主軸)
    &.lx-layout-alignY-top {
      // 縦位置: 上
      justify-content: flex-start;
    }
    &.lx-layout-alignY-middle {
      // 縦位置: 中央
      justify-content: center;
    }
    &.lx-layout-alignY-bottom {
      // 縦位置: 下
      justify-content: flex-end;
    }
    &.lx-layout-alignY-spaceBetween {
      // 縦位置: 両端揃え
      justify-content: space-between;
    }
    &.lx-layout-alignY-spaceAround {
      // 縦位置: 両端余白あり均等
      justify-content: space-around;
    }
    &.lx-layout-alignY-spaceEvenly {
      // 縦位置: 完全均等
      justify-content: space-evenly;
    }

    // 子要素のデフォルト調整
    & > * {
      flex-grow: 0;
      flex-shrink: 0;
      min-width: 0;
      min-height: 0;
    }

    &.lx-layout-itemSizeX > * {
      // 子要素の幅
      width: var(--lx-layout-itemSizeX);
    }
    &.lx-layout-adjustX-fit {
      // 子要素の幅調整: 伸ばす & 縮める
      align-items: stretch;
      & > * {
        min-width: 100%;
        max-width: 100%;
      }
      &.lx-layout-itemSizeX > * {
        width: auto;
      }
    }
    &.lx-layout-adjustX-grow > * {
      // 子要素の幅調整: 伸ばす
      min-width: 100%;
    }
    &.lx-layout-adjustX-shrink > * {
      // 子要素の幅調整: 縮める
      max-width: 100%;
    }

    &.lx-layout-itemSizeY > * {
      // 子要素の高さ
      flex-basis: var(--lx-layout-itemSizeY);
    }
    &.lx-layout-adjustY-fit {
      // 子要素の高さ調整: 伸ばす & 縮める
      justify-content: flex-start;
      // 子要素
      & > * {
        // 主軸
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
      }
      &.lx-layout-itemSizeY > * {
        flex-basis: var(--lx-layout-itemSizeY);
      }
    }
    &.lx-layout-adjustY-grow > * {
      // 子要素の高さ調整: 伸ばす
      flex-grow: 1;
    }
    &.lx-layout-adjustY-shrink > * {
      // 子要素の高さ調整: 縮める
      flex-shrink: 1;
    }
  }

  &.lx-layout-itemRatio > * {
    // 縦横比
    aspect-ratio: var(--lx-layout-itemRatio);
  }

  // 子要素の間隔
  &.lx-layout-gapX {
    // 横方向の間隔
    column-gap: var(--lx-layout-gapX);
  }

  &.lx-layout-gapY {
    // 縦方向の間隔
    row-gap: var(--lx-layout-gapY);
  }
}
