.frg-layout-layer {
  // 変数
  --frg-layout-itemSizeX: auto;
  --frg-layout-itemSizeY: auto;
  --frg-layout-itemRatio: auto;

  // layer用のスタイル
  display: grid;

  > * {
    grid-area: 1 / 1;
  }

  &.frg-layout-alignX-left > * {
    // 横位置: 左
    justify-self: start;
  }
  &.frg-layout-alignX-center > * {
    // 横位置: 中央
    justify-self: center;
  }
  &.frg-layout-alignX-right > * {
    // 横位置: 右
    justify-self: end;
  }

  &.frg-layout-alignY-top > * {
    // 縦位置: 上
    align-self: start;
  }
  &.frg-layout-alignY-middle > * {
    // 縦位置: 中央
    align-self: center;
  }
  &.frg-layout-alignY-bottom > * {
    // 縦位置: 下
    align-self: end;
  }

  &.frg-layout-itemSizeX > * {
    // 子要素の幅
    width: var(--frg-layout-itemSizeX);
  }

  &.frg-layout-itemSizeY > * {
    // 子要素の高さ
    height: var(--frg-layout-itemSizeY);
  }

  // 子要素の幅調整: 伸ばす & 縮める / 伸ばす 共通のデフォルト
  &.frg-layout-adjustX-fit > *,
  &.frg-layout-adjustX-grow > * {
    justify-self: stretch;
    width: auto;
  }
  &.frg-layout-adjustX-fit > * {
    // 子要素の幅調整: 伸ばす & 縮める
  }
  &.frg-layout-adjustX-grow > * {
    // 子要素の幅調整: 伸ばす
    min-width: var(--frg-layout-itemSizeX);
  }
  &.frg-layout-adjustX-shrink > * {
    // 子要素の幅調整: 縮める
    width: clamp(0px, 100%, var(--frg-layout-itemSizeX));
  }

  // 子要素の高さ調整: 伸ばす & 縮める / 伸ばす 共通のデフォルト
  &.frg-layout-adjustY-fit > *,
  &.frg-layout-adjustY-grow > * {
    align-self: stretch;
    height: auto;
  }
  &.frg-layout-adjustY-fit > * {
    // 子要素の高さ調整: 伸ばす & 縮める
  }
  &.frg-layout-adjustY-grow > * {
    // 子要素の高さ調整: 伸ばす
    min-height: var(--frg-layout-itemSizeY);
  }
  &.frg-layout-adjustY-shrink > * {
    // 子要素の高さ調整: 縮める
    height: clamp(0px, 100%, var(--frg-layout-itemSizeY));
  }

  // アスペクト比
  &.frg-layout-itemRatio > * {
    aspect-ratio: var(--frg-layout-itemRatio);
  }
}
