.frg-layout-center {
  // 変数
  --frg-layout-gapX: 0px;
  --frg-layout-gapY: 0px;
  --frg-layout-itemSizeX: auto;
  --frg-layout-itemSizeY: auto;
  --frg-layout-itemRatio: auto;

  // center用のスタイル
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;
  & > * {
    min-width: 0;
    max-width: 100%;
    min-height: 0;
    max-height: 100%;
    margin: 0;
  }

  &.frg-layout-direction-x {
    // 子要素を並べる向き・横並び
    flex-direction: row;

    & > * {
      max-width: none;
      max-height: none;
      flex-grow: 0;
      flex-shrink: 0;
      margin-top: auto;
      margin-bottom: auto;
      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }
    }

    // 子要素の幅調整
    &.frg-layout-itemSizeX > * {
      // 子要素の幅
      width: var(--frg-layout-itemSizeX);
      flex-basis: var(--frg-layout-itemSizeX);
    }
    &.frg-layout-adjustX-fit {
      // 子要素の幅調整: 伸ばす & 縮める
      & > * {
        width: 100%;
        max-width: none;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
      }
    }
    &.frg-layout-adjustX-grow {
      // 子要素の幅調整: 伸ばす
      & > * {
        width: 100%;
        min-width: var(--frg-layout-itemSizeX);
        max-width: none;
        flex-grow: 1;
        flex-basis: var(--frg-layout-itemSizeX);
      }
    }
    &.frg-layout-adjustX-shrink {
      // 子要素の幅調整: 縮める
      & > * {
        width: var(--frg-layout-itemSizeX);
        max-width: 100%;
        flex-shrink: 1;
        flex-basis: var(--frg-layout-itemSizeX);
      }
    }

    // 子要素の高さ調整
    &.frg-layout-itemSizeY > * {
      // 子要素の高さ
      height: var(--frg-layout-itemSizeY);
    }
    &.frg-layout-adjustY-fit {
      // 子要素の高さ調整: 伸ばす & 縮める
      align-items: stretch;
      & > * {
        height: 100%;
        max-height: none;
      }
    }
    &.frg-layout-adjustY-grow {
      // 子要素の高さ調整: 伸ばす
      align-items: stretch;
      & > * {
        height: 100%;
        min-height: var(--frg-layout-itemSizeY);
        max-height: none;
      }
    }
    &.frg-layout-adjustY-shrink {
      // 子要素の高さ調整: 縮める
      & > * {
        height: var(--frg-layout-itemSizeY);
        max-height: 100%;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  &.frg-layout-direction-y {
    // 子要素を並べる向き・縦並び
    flex-direction: column;

    & > * {
      max-width: none;
      max-height: none;
      flex-grow: 0;
      flex-shrink: 0;
      margin-left: auto;
      margin-right: auto;
      &:first-child {
        margin-top: auto;
      }
      &:last-child {
        margin-bottom: auto;
      }
    }

    // 子要素の幅調整
    &.frg-layout-itemSizeX > * {
      // 子要素の幅
      width: var(--frg-layout-itemSizeX);
    }
    &.frg-layout-adjustX-fit {
      // 子要素の幅調整: 伸ばす & 縮める
      align-items: stretch;
      & > * {
        width: 100%;
        max-width: none;
      }
    }
    &.frg-layout-adjustX-grow {
      // 子要素の幅調整: 伸ばす
      align-items: stretch;
      & > * {
        width: 100%;
        min-width: var(--frg-layout-itemSizeX);
        max-width: none;
      }
    }
    &.frg-layout-adjustX-shrink {
      // 子要素の幅調整: 縮める
      & > * {
        width: var(--frg-layout-itemSizeX);
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    // 子要素の高さ調整
    &.frg-layout-itemSizeY > * {
      // 子要素の高さ
      height: var(--frg-layout-itemSizeY);
      flex-basis: var(--frg-layout-itemSizeY);
    }
    &.frg-layout-adjustY-fit {
      // 子要素の高さ調整: 伸ばす & 縮める
      & > * {
        height: 100%;
        max-height: none;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
      }
    }
    &.frg-layout-adjustY-grow {
      // 子要素の高さ調整: 伸ばす
      & > * {
        height: 100%;
        min-height: var(--frg-layout-itemSizeY);
        max-height: none;
        flex-grow: 1;
        flex-basis: var(--frg-layout-itemSizeY);
      }
    }
    &.frg-layout-adjustY-shrink {
      // 子要素の高さ調整: 縮める
      & > * {
        height: var(--frg-layout-itemSizeY);
        max-height: 100%;
        flex-shrink: 1;
        flex-basis: var(--frg-layout-itemSizeY);
      }
    }
  }

  &.frg-layout-itemRatio > * {
    // 縦横比
    aspect-ratio: var(--frg-layout-itemRatio);
  }

  // 子要素の間隔
  // 中央寄せはautoマージンで行っているため、gapはautoマージンと干渉しない
  // gapプロパティで指定する
  &.frg-layout-gapX {
    // 横方向の間隔
    column-gap: var(--frg-layout-gapX);
  }

  &.frg-layout-gapY {
    // 縦方向の間隔
    row-gap: var(--frg-layout-gapY);
  }
}
