.frg-layout-pin {
  // 変数
  --frg-layout-itemSizeX: auto;
  --frg-layout-itemSizeY: auto;
  --frg-layout-itemRatio: auto;

  // pin用のスタイル
  display: block;
  position: relative;

  & > * {
    position: absolute;
  }

  &.frg-layout-itemSizeX > * {
    // 子要素の幅
    width: var(--frg-layout-itemSizeX);
  }

  &.frg-layout-itemSizeY > * {
    // 子要素の高さ
    height: var(--frg-layout-itemSizeY);
  }

  &.frg-layout-itemRatio > * {
    // 縦横比
    aspect-ratio: var(--frg-layout-itemRatio);
  }
}
